@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;600;800&family=Roboto:ital,wght@0,400;1,700&display=swap');

body {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    /*font-family: 'Baloo Bhaijaan 2', cursive;*/
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #E5E5E5:
}

h2 {
    margin-top: 40px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 38px;
}

.btn {
    height: 40px;
    width: 120px;
    border-radius: 8px;
    margin-left: 30px;
    text-align: center;
    line-height: 40px;
}

.btn_black {
    background-color: #0c0b0b;
    color: white;
}

.btn_light {
    background-color: transparent;
    border: #0c0b0b solid 2px;
    color: #0c0b0b;
}

.wrapper {
    display: flex;
    width: 70vw;
    height: 120vh;
    margin: 0px auto;
    justify-content: space-between;
}

.clickable {
    cursor: pointer;
}

.side-menu {
    top: 40px;
    position: sticky;
    width: 132px;
    height: 850px;
    border-radius: 24px;
    background-color: #0c0b0b;
    color: white;
}

.logo {
    margin-top: 20px;
    display: block;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 102px;
    text-align: center;
}

.menu__item {
    margin: 0 auto;
    margin-top: 50px;
    width: 50px;
    display: block;
    text-align: center;
}

.menu__item:first-child {
    margin-top: 75px;
}

.menu__item:last-child {
    margin-top: 240px;
}

.main-column {
    margin-top: 40px;
    width: 620px;
    /*background-color: rgba(255, 0, 0, .1);*/
}

.hello {
    height: 160px;
    background-color: #f5f5f7;
    border-radius: 14px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 30px;
}

.hello__img {
    position: absolute;
    left: 340px;
    bottom: 0px;
}

.hello h1 {
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
}

.hello p {
    margin: 0px;
    padding: 0px;
}

.continue {
    margin-top: 25px;
    height: 80px;
    display: flex;
    align-items: center;
}

.course-card {
    background-color: #f5f5f7;
    border-radius: 14px;
    width: 480px;
    height: 80px;
    display: flex;
    align-items: center;
}

.card__img {
    margin-left: 8px;
    height: 64px;
    width: 64px;
    background-color: white;
    border-radius: 12px;
    position: relative;
    display: inline-block;
}

.card__img img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card__disc {
    margin-left: 25px;
}

.card__disc h3 {
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
}

.card__disc p {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
}

.progress {
    text-align: center;
    margin-left: 35px;
    line-height: 40px;
    height: 40px;
    width: 40px;
    display: inline-block;
    border: #0c0b0b solid 3px;
    border-radius: 50%;
}

.round {
    margin-left: 20px;
    height: 40px;
    width: 40px;
    display: inline-block;
    border: #0c0b0b solid 3px;
    border-radius: 50%;
    position: relative;
    
}

.round:last-child {
    margin-left: 10px;
}

.round img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li {
    display: inline-block;
    margin-right: 30px;
}

.courses-list {
    list-style-type: none;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 26px;
    color: rgba(0, 0, 0, .3);
}

.active {
    color: #0c0b0b;
}

.card__item {
    margin-bottom: 16px;
    height: 80px;
    width: 620px;
    background-color: #f5f5f7;
    border-radius: 14px;
    display: flex;
    align-items: center;
}

.card__item:first-child {
    margin-top: 10px;
}

.card__info {
    margin-left: 40px;
    font-size: 13px;
    line-height: 16px;
}

.card__info img {
    padding-right: 5px;
    margin-bottom: -2px;
}

.right-column {
    margin-top: 40px;
    width: 440px;
}

.utility {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    height: 40px;
    width: 300px;
    border-radius: 8px;
    background-color: #E5E5E5;
    display: flex;
    align-content: center;
}

.search button {
    background-color: transparent;
    height: 40px;
    width: 40px;
    border: none;
}

.search input {
    padding: 0px;
    border: none;
    height: 40px;
    width: 260px;
    background-color: #E5E5E5 ;
}

.profile {
    display: flex;
    align-content: center;
}

.more {
    margin: 0 10px;
}

.course-info {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.course-info__card {
    display: inline-block;
    height: 95px;
    width: 208px;
    background-color: #E5E5E5;
    border-radius: 14px;
}
